.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.translate{
    position: relative ;
    display: flex;
    flex-direction: column;
    margin: 4rem;
    padding: 2rem;
    background-color: yellow;
    color: blueviolet;
    width: 80%;
    height: 300px auto;
    text-align: center;
    box-shadow: 0 0 1.8rem 0.5rem #302c1a;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.translateButton{
    margin-top: 15px;
    padding: 10px;
    border-radius: 25px;
    background-color: blueviolet;
    color: white;
    width: 100px;
}

.inputField{
    margin-top: 15px;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
}

.translationArea{
    background-color: white;
    max-width: 80%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5px;
}

.heading{
    font-weight: 900;
}

.translationFor{
    max-width: 80%;
}